<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Requests - Nunes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="p-3">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="/nunes" class="nav-link active" aria-current="page">
                Requests
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-9">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Verb</th>
                  <th>Path</th>
                  <th class="text-end">Status</th>
                  <th class="text-end">Duration</th>
                  <th class="text-end">When</th>
                </tr>
              </thead>
              <% @requests.each do |request| %>
                <tr>
                  <td>
                    <span class="badge text-bg-light fw-normal">
                      <%= request.request_method %></span>
                  </td>
                  <td>
                    <a href="/nunes/requests/<%= request.request_id %>" class="d-block text-decoration-none text-secondary">
                      <code><%= request.path %></code>
                    </a>
                  </td>
                  <td class="text-end">
                    <span class="badge <%= request.status_css_class %> fw-normal">
                      <%= request.status %>
                    </span>
                  </td>
                  <td class="text-end"><%= request.duration %></td>
                  <td class="text-end"><%= request.started_at %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
