<div class="card shadow-sm mb-4">
  <div class="card-header">
    Request Details
  </div>
  <div class="card-body">
    <dl class="row mb-0">
      <dt class="fw-normal col-12 col-md-2">Verb</dt>
      <dd class="col-12 col-md-10"><%= @waterfall.root.verb %></dd>

      <dt class="fw-normal col-12 col-md-2">Path</dt>
      <dd class="col-12 col-md-10">
        <span class="m-0 p-0 font-monospace small"><%= @waterfall.root.path %></span>
      </dd>

      <dt class="fw-normal col-12 col-md-2">Status</dt>
      <dd class="col-12 col-md-10">
        <span class="badge <%= @waterfall.root.status_css_class %> fw-normal">
          <%= @waterfall.root.status %>
        </span>
      </dd>

      <dt class="fw-normal col-12 col-md-2">Duration</dt>
      <dd class="col-12 col-md-10"><%= @waterfall.root.duration %>ms</dd>

      <dt class="fw-normal col-12 col-md-2">When</dt>
      <dd class="col-12 col-md-10"><%= compact_time_ago @waterfall.trace_started_at %></dd>

      <dt class="fw-normal col-12 col-md-2">IP</dt>
      <dd class="col-12 col-md-10"><%= @waterfall.root.ip %></dd>
    </dl>
  </div>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>&nbsp;</th>
          <th class="text-end">Time</th>
        </tr>
      </thead>
      <tbody>
        <% @waterfall.ordered.each do |span| %>
          <tr class="small">
            <td>
              <%= span.title %>
            </td>
            <td>
              <div style="padding-left: <%= @waterfall.padding_left_for(span) %>%; width: <%= @waterfall.width %>">
                <div class="progress <%= @waterfall.color_for(span) %>" style="width: <%= @waterfall.width_for(span) %>%" role="progressbar" aria-label="Time" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar"></div>
                </div>
              </div>
            </td>
            <td class="text-end">
              <%= span.duration %>ms
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
