<div class="card shadow-sm mb-4">
  <div class="card-header">
    Request Details
  </div>
  <div class="card-body">
    <dl class="row mb-0">
      <dt class="fw-normal col-12 col-md-2">Verb</dt>
      <dd class="col-12 col-md-10"><%= @request.verb %></dd>

      <dt class="fw-normal col-12 col-md-2">Path</dt>
      <dd class="col-12 col-md-10">
        <span class="m-0 p-0 font-monospace small"><%= @request.path %></span>
      </dd>

      <dt class="fw-normal col-12 col-md-2">Status</dt>
      <dd class="col-12 col-md-10">
        <span class="badge <%= @request.status_css_class %> fw-normal">
          <%= @request.status %>
        </span>
      </dd>

      <dt class="fw-normal col-12 col-md-2">Duration</dt>
      <dd class="col-12 col-md-10"><%= @request.duration %>ms</dd>

      <dt class="fw-normal col-12 col-md-2">When</dt>
      <dd class="col-12 col-md-10"><%= compact_time_ago @request.started_at %></dd>

      <dt class="fw-normal col-12 col-md-2">IP</dt>
      <dd class="col-12 col-md-10"><%= @request.ip %></dd>
    </dl>
  </div>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <div class="table-responsive rounded align-middle">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Duration</th>
          <th>Tags</th>
        </thead>
        <tbody>
          <% @spans.each do |span| %>
            <tr>
              <td><%= span.name %></td>
              <td><%= span.duration %>ms</td>
              <td>
                <dl>
                  <% span.tags.each do |key, value| %>
                    <dt><%= key%></dt>
                    <dd><%= value %></dd>
                  <% end %>
                </dl>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
